install
url --url=http://linuxsoft.cern.ch/centos/8.2.2004/BaseOS/x86_64/os
lang en_US
keyboard sg
network --bootproto=dhcp
rootpw --plaintext vagrant
auth --passalgo=sha512 --useshadow
selinux --disabled
firewall --disabled
timezone UTC

bootloader --location=mbr --append="rhgb quiet crashkernel=auto"
zerombr
clearpart --all --initlabel
autopart

text
skipx
firstboot --disabled
eula --agreed
user --name=vagrant --plaintext --password=vagrant
reboot

%packages --ignoremissing
@Base
@Core
sudo
telnet
wget

# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

%post
/usr/bin/yum -y update

# update root certs
/usr/bin/wget -O/etc/pki/tls/certs/ca-bundle.crt http://curl.haxx.se/ca/cacert.pem

echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end

